body{
    background-color: burlywood;
}
.nav-position{
    margin-right: 80px;
    margin-top: 20px;
    
}
.nav-position li a{
    color: black;
    font-weight:600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#meals{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.meal{
    margin-top: 5px;
    border: 1px solid goldenrod;
    border-radius: 20px;
    text-align: center;
    width: 250px;
    height: 300px;
    background-color: white;
    overflow: hidden;
    
}
.meal img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#meal-section{
    margin-top: 50px;
}
.meal h1{
    font-family: monospace;
}
.heading{
    margin-top: 10px;
    overflow: hidden;
}

.detailsMeal{

    margin-top: 20px;
    border: 1px solid rgb(247, 178, 4);
    border-radius: 20px;
    /* text-align: center; */
    width: 250px;
    height: fit-content;
    background-color: white;
}
.detailsMeal img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.detailHeadings{
    margin-left: 20px;
}
